@font-face {
  font-family: 'BootstrapIcons';
  src: url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf");
}

body {
  font: 14px "Century Gothic", Helvetica, Arial, sans-serif;
}
.wrapper {
    padding-top: 60px;
}
.main-container {
    width:80%;
    float:left;
}

.chat-bar-wrapper {
    position: fixed;
    bottom: 0;
    height: 35px;
    min-height: 20px;
    width: 80%;
    margin-left: -15px;
    padding-top: 5px;
    background-color: #95a5a6;
    white-space: nowrap;
    z-index: 9;
}

.chat-bar {
    width: 100%;
}

.chat {
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    width: 250px;
    background-color: #ecf0f1;
    box-sizing: border-box;
    margin: 0 10px;
    padding-top: 0;

    position: relative;
}

.chat .chat-title{
    vertical-align: middle;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    padding: 0 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chat .chat-body{
    position: absolute;
    bottom: 0px;
    background-color: #fff;
    width: 250px;
    left: 0px;
    height: 0px;
    overflow: hidden;
    border:1px solid black;
    border-radius: 2px;
    border-bottom: none;
    display: none;
}

.chat .chat-body .chat-top-bar {
    border-bottom: 1px solid #95a5a6;
    position: relative;
}

.chat .chat-body .chat-top-bar .chat-name {
    width: 50%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
}

.chat .chat-body img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
}

.chat .chat-body textarea{
    width: 100%;
    resize: none;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    height: 30px;
    max-height: 60px;
    outline: none;
    padding: 5px;
    padding-right: 30px;
    left:0;
}

.chat .chat-body .chat-top-bar .glyphicon {
    float: right;
    width: 20px;
    height: 20px;
    text-align: center;
    top: 50%;
    position: absolute;
    margin-top: -10px;
    right: 35px;
    margin-top: -5px;
}

.chat .chat-body .chat-top-bar .glyphicon.glyphicon-remove{
    right: 10px;
    margin-top: -10px;
    opacity: 1;
}

.chat .chat-body .chat-send {
    position: absolute;
    margin-top: -29px;
    font-size: 16px;
    top: 100%;
    width: 27px;
    height: 27px;
    right: 0;
    background-color: #95a5a6;
    border-radius: 50%;
    color: #fff;
    padding: 4px;
    padding-top: 5px;
    cursor: pointer;
}

.chat .chat-body .chat-messages {
    width: 100%;
    height: 225px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 10px;
}

.chat .chat-body .chat-message{
    background-color: #95a5a6;
    display: inline-block;
    float: left;
    clear: both;
    padding: 5px 15px;
    border-radius: 2px;
    margin: 0px 10px;
    color: #fff;
    white-space: normal;
    margin-left: 2px;
}

.chat .chat-body .chat-message.chat-message-sent{
    text-align: right;
    float: right;
    background-color: #2c3e50;
    margin-right: 2px;
}

.chat.empty-chat{
    display: none!important;
}

/*.chat.opened .chat-body{*/
    /*height: 250px;*/
/*}*/

.all-users-container {
    width:20%;
    position: fixed;
    top:50px;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    border-left: 1px solid #bdc3c7;
    background-color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 10;
}
.all-users-container .mCSB_inside>.mCSB_container{
    margin-right: 10px;
}
.users-search-form{
    margin:5px;
    margin-top:10px;
}

.single-user{
    margin:5px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    margin-left: 0;
    padding-left: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    padding-right: 20px;
}
.single-user:after{
    content:attr(data-count) ' ';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top:50%;
    margin-top: -5px;
    right:10px;
    text-align: center;
    background-color: transparent;
    color:#fff;
}

.single-user.active:after{
    background-color: #2ecc71;
}

.single-user.has-unread:after{
    background-color: #f1c40f;
}



.single-user:hover {
    background-color: rgba(255,255,255,0.3);
}

.single-user img {
    border-radius: 50%;
    overflow: hidden
}


.chat-bar.mCustomScrollbar{
    overflow: visible!important;
}

.chat-bar.mCustomScrollbar .mCustomScrollBox{
    overflow: visible!important;
}

.chat-bar.mCustomScrollbar .mCustomScrollBox .mCSB_container{
    overflow: visible!important;
}

.chat-bar.mCustomScrollbar .mCustomScrollBox .mCSB_scrollTools{
    position: relative;
    top: -39px;
}